.a-input {
  max-width: 400px;
  position: relative;

  & > .label { text-transform: uppercase; }
  & > .input {}
  & > .c-icon {}
  & > .error { display: flex; padding-top: 5px; }
  & > .textarea {}
}
