.a-input-component {
  max-width: 400px;

  & > .label { text-transform: uppercase; }
  & > .input { position: relative; }
  & > .c-icon {}
  & > .error { display: flex; padding-top: 5px; }
  & > .textarea {}
}
